<header id="page-header" role="banner">
    <div class="container-fluid">
        <div class="row  align-items-center">
            <div class="col-3 mt-2">
                <a  [routerLink]="" (click)="goHome();"
                ><img id="" class="img-responsive" title="Sample App"
                        src="assets/img/angular.png" alt="Sample App"></a>
            </div>
           <div class="col-5 mt-2"><span class="title">Sample Angular App</span></div>
           <div class="col-3 mt-2"> <a  class="logout" [routerLink]="" (click)="logout()">Logout</a></div>
        </div>
    </div>
</header>

